<%# Banner Title and Typescript %>
<div class="main-container">
  <div class="row">
    <div class="banner" style="background-color: #440D0F;">
        <div class="col-12">
          <h1 class="logo-body text-center" style="font-family: 'Notable', sans-serif; font-size: 70px; color: #FFFFF;">Blog Piaki</h1>
        </div>
      <div class="container" style="justify-content: center;">
        <p>
          <span id="banner-typed-text"></span>
        </p>
      </div>
    </div>
  </div>

<%# Cards with post`s links and description %>
  <div class="row">
    <div class="col-sm-12 col-lg-8">
        <div class="cards-grid">    
          <% @articles.each do |article| %> 
            <div class="card-product" style="height: 20vh">
              <%= cl_image_tag article.photos.first.key, gravity: :face %>
                <div class="card-product-infos">
                  <p><%= article.created_at.strftime('%d/%m/%Y') %></p>
                  <%= link_to(article) do %>
                    <h2 style="color: #440D0F;"><%= article.title %></h2>
                  <% end %>
                  <%# This description is limited to 360 char. to keep it on 4 lines, which creates a pattern %>
                  <p class="description-card" > <%= article.description %></p>
                  <p><%#= body_text = article.rich_body %></p> <%= link_to '<i class="fas fa-search-plus" style="color:#440D0F"></i>'.html_safe, article %></p>
                  <div>
                    <%= link_to '<i class="far fa-edit" style="color:#440D0F"></i>'.html_safe, edit_article_path(article) %>
                    <%= link_to '<i class="far fa-trash-alt" style="color:#440D0F"></i>'.html_safe, article, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
            </div>
          <% end %>
        <%# Pagination with Kaminari %>
        <%= paginate @articles %>
          <%= link_to 'New Article', new_article_path, class: "btn btn-outline-dark mb-3" %>
        </div>
    </div>
    <%# banner wheather and ads %>
    <div class="right-collumn col-sm-12 col-lg-4">
      <div class="banner-weather">
        <form action="/" class="d-flex" id="city-form">
          <input class="form-control mr-sm-2 mb-1" type="text" id="city-input" placeholder="Busque uma cidade">
          <input class="btn btn-outline-light mb-1" type="submit" value="Busca">
        </form>
          <h3>Agora em <span id="city-name"></span> </h3>
          <h5 id="date" ></h5>
          <p id="description" ></p>
          <img src="" alt="" id="icon" height="50px" width="50px" />
          <h2 id="temperature"></h2>
      </div>
      <div class="banners d-flex">
        <div id="ad-box">
          
        </div>
      </div>
    </div>
  </div>

</div>


