<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <strong> <%=" Criado em:  #{@article.created_at.strftime("%d/%m/%Y")} "%> </strong>
</p>

<p>
  <strong>Body:</strong>
  <%#= raise %>
  <%= @article.body %>
</p>

<p>
<% @article.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
<% end %>
</p>

<%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_article_path(@article) %> |
<%= link_to '<i class="fas fa-undo"></i>'.html_safe, articles_path %>

