<div class="card mt-2 p-3" style="background-color: white;">
  <p id="notice"><%= notice %></p>
  <strong> <%= @article.created_at.strftime("%d/%m/%Y") %> </strong>
  <p></p>
  <p>
    <strong><%= @article.title %></strong>
  </p>

  <p>
    By: 
    <%#= raise %>
    <%= @article.rich_body %>
  </p>

  <p>
    <% @article.photos.each do |photo| %>
      <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill, gravity: :face %>
    <% end %>
  </p>

  <p>
    <%= link_to '<i class="far fa-edit" style="color:#440D0F"></i>'.html_safe, edit_article_path(@article) %> 
    <%= link_to '<i class="fas fa-undo" style="color:#440D0F"></i>'.html_safe, articles_path %>
  </p>

</div>