<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container ">
    <%#= image_tag "wing", class:'logo_nav' %>
    <a class="navbar-brand ml-2 text-white" href="/">Blog Piaki</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Chega mais
          </a>
          <div class="dropdown-menu text-white" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Que Somos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Geradores de Conteúdo</a>
            <a class="dropdown-item" href="#">Como Colaborar</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Orientações Gerais</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-white" href="#"></a>
        </li>
      </ul>
      <div>
      <%= form_tag articles_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an article"
        %>
      </div>
      <div class="ml-2"> <%= submit_tag "Busca", class: "btn btn-outline-light" %> </div>
      <% end %>

      <div class="login-setup">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>

    </div>
  </div>
</nav>