<!DOCTYPE html>
<html>
  <head>
    <title>BlogPiaki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<<<<<<< HEAD
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
=======

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

>>>>>>> main
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
